<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <img src="/assets/favicon.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf='!isUserLoggedIn()'>
                    <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" *ngIf='isUserLoggedIn()'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ShortURLs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/shorturl']">Create</a>
                        <a class="dropdown-item" [routerLink]="['/shorturlview']">View</a>
                    </div>
                </li>
                <li class="nav-item" *ngIf='isUserLoggedIn()'>
                    <a class="nav-link" [routerLink]="['/cardview']">Cards</a>
                </li>
                <li class="nav-item dropdown" *ngIf='isUserLoggedIn()'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Groups
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/groupcard/view']">View</a>
                        <a class="dropdown-item" [routerLink]="['/validate/card']">Validate Card</a>
                        <a class="dropdown-item" [routerLink]="['/user/add']">Add User To Group</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf='isUserLoggedIn()'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/groupcard/view']">Import Card</a>
                        <a class="dropdown-item" [routerLink]="['/validate/card']">Export Card</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" *ngIf='isUserLoggedIn()'>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button *ngIf='isUserLoggedIn()' class="btn btn-outline-success my-2 my-sm-0" (click)="userLogOut()">logout</button>
        </div>
    </nav>
</div>
<div *ngIf='!isUserLoggedIn()'>
    <br>
    <h1>Welcome To Bookmark and url shortening Application.</h1>
</div>
<router-outlet></router-outlet>